In [5]:
import pickle

import numpy as np
import pandas as pd
from scipy.stats import rankdata
from sklearn.metrics import roc_auc_score

In [14]:
train_df = pd.read_csv("../data/train.csv")
test_df = pd.read_csv("../data/test.csv")
clothing_master_df = pd.read_csv("../data/clothing_master.csv")
sample_submission_df = pd.read_csv("../data/sample_submission.csv")

# Ensemble

In [15]:
labels = train_df["recommended"].to_numpy()

In [154]:
oof1 = np.load("../outputs/exp014/oof.npy")
oof2 = np.load("../outputs/exp015/oof.npy")
oof3 = pickle.load(open("../outputs/oofexp017.pkl", "rb"))
oof4 = pickle.load(open("../outputs/oofexp021.pkl", "rb"))
oof5 = pickle.load(open("../outputs/oofexp022.pkl", "rb"))
oof6 = np.load("../outputs/exp024/oof.npy")
oof7 = np.load("../outputs/exp025/oof.npy")


test_pred1 = pd.read_csv("../outputs/exp014/submission_exp014.csv")["target"].to_numpy()
test_pred2 = pd.read_csv("../outputs/exp015/submission_exp015.csv")["target"].to_numpy()
test_pred3 = pd.read_csv("../outputs/submission_exp017.csv")["target"].to_numpy()
test_pred4 = pd.read_csv("../outputs/submission_exp021.csv")["target"].to_numpy()
test_pred5 = pd.read_csv("../outputs/submission_exp022.csv")["target"].to_numpy()
test_pred6 = pd.read_csv("../outputs/exp024/submission_exp024.csv")["target"].to_numpy()
test_pred7 = pd.read_csv("../outputs/exp025/submission_exp025.csv")["target"].to_numpy()

In [193]:
rank1 = rankdata(oof1, method="average")
rank2 = rankdata(oof2, method="average")
rank3 = rankdata(oof3, method="average")
rank4 = rankdata(oof4, method="average")
rank5 = rankdata(oof5, method="average")
rank6 = rankdata(oof6, method="average")
rank7 = rankdata(oof7, method="average")

rank_avg = rank1 + rank2 + rank4 + rank6 + rank7

final_auc = roc_auc_score(labels, rank_avg)
final_auc

0.974144881508322

In [194]:
test_rank1 = rankdata(test_pred1, method="average")
test_rank2 = rankdata(test_pred2, method="average")
test_rank3 = rankdata(test_pred3, method="average")
test_rank4 = rankdata(test_pred4, method="average")
test_rank5 = rankdata(test_pred5, method="average")
test_rank6 = rankdata(test_pred6, method="average")
test_rank7 = rankdata(test_pred7, method="average")

test_rank_avg = test_rank1 + test_rank2 + test_rank4 + test_rank6 + test_rank7

In [195]:
sample_submission_df["target"] = test_rank_avg
sample_submission_df.to_csv("../outputs/submission_ensemble009.csv", index=False)
sample_submission_df

        target
0      48527.0
1      10199.0
2      35563.5
3       5291.0
4      27864.0
...        ...
11150  33667.5
11151  43067.0
11152  43988.0
11153  41585.0
11154  52422.0

[11155 rows x 1 columns]